<form >
    <div class="container">
        <div class="row">
            <div class="panel panel-primary">
                <div class="panel-body" >
                    <legend>Bağışçı Bilgileri</legend>
                    <hr/>

                    <div class="form-group form-horizontal">






                        <label >Kullanıcı Adı</label>


                        <input type="text" id="username"  name="username" class="usernameAdd form-control" title="Boş Geçilemez!!" >


                        </br>
                        <label >Şifre</label>


                        <input type="password" id="password"  name="password" class="passwordAdd form-control" title="Boş Geçilemez!!" >


                        </br>
                        <label >Telefon</label>


                        <input type="text" onkeypress="return isCharacter(event,this.id)" id="telefon" name="telefon" class="telefonAdd form-control" title="Boş Geçilemez!!" >


                        <label >Kayıt Kodu</label>


                        <input type="text" id="kayitKodu" name="telefon" class="kayitKodu form-control" title="Kayıt Kodunu Yanlış Girdiniz" >



                        </br>




                        </br>



                        <button id="new"   class="btn btn-info btn-block">
                            Kayıt Ol
                        </button>
                        <button type="button" onclick="goHome()"  class="btn btn-info btn-block"> Giriş Yap</button>
                    </div>


                </div>
            </div>
        </div>
    </div>
</form>