

<td class="resultRow">
    <span>{{home.kartNumarasi}}</span>
</td>
<td class="resultRow">
    <span>{{home.evTuru}}</span>
</td>
<td class="resultRow">
    <span>{{tc}}</span>
</td>

<td class="resultRow">
    <span>{{adi}}</span>
</td>
<td class="resultRow">
    <span>{{soyadi}}</span>
</td>
<td class="resultRow">
    <span>{{telNo}}</span>
</td>
<td class="resultRow">
    <span>{{mail}}</span>
</td>
