<div class="row">



    <a class="btn btn-danger" style="float: right" href="/j_spring_security_logout">ÇIKIŞ YAP</a>
    &emsp; &emsp; &emsp;
    <a href="#/newHome"><label class="btn btn-success">
        Ev Ekleme
    </label></a>
    <div class="btn-group btn-group-toggle" >
        &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp;
        <a href="#/searchHomes"><label class="btn btn-primary">
            Ev Sorgulama
        </label></a>
        &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp;
        <a href="#/searchDoneHomes"><label class="btn btn-primary">
            Satılan Veya Kiralanan Evler
        </label></a>

    </div>

</div>

<br>
<div class="row">
    <div class="row" style=" margin-left: 15px;margin-right:15px;background-color: #e8e8e8" >

        <legend style=";">Ev Bilgileri</legend>
        <select id="evHali" class="btn-block">
            <option  value="Satilik">Satılık Ev</option>
            <option  value="Kiralik">Kiralık Ev</option>


        </select>
    <br>
        <button id="searchDoneHomes"  class="btn btn-info btn-block">Sorgula</button>
    </div>



</div>

<table class="table striped table-bordered" id="HomeDoneList">
    <thead class="bg-warning">
    <tr>
        <th style="color:#d9edf7;background-color: #101010" >Emlak Numarası</th>
        <th style="color:#d9edf7;background-color: #101010" >Ev Türü</th>
        <th style="color:#d9edf7;background-color: #101010" >Tc</th>
        <th style="color:#d9edf7;background-color: #101010" >Ad</th>
        <th style="color:#d9edf7;background-color: #101010" >Soyad</th>
        <th style="color:#d9edf7;background-color: #101010" >Telefon No</th>
        <th style="color:#d9edf7;background-color: #101010" >Mail</th>

    </tr>

    </thead>


</table>

