<td class="resultRow">
    <span>{{kartNumarasi}}</span>
</td>
<td class="resultRow">
    <span>{{evTuru}}</span>
</td>
<td class="resultRow">
    <span>{{il}}</span>
</td>

<td class="resultRow">
    <span>{{evOdaSayisi}}</span>
</td>
<td class="resultRow">
    <span>{{evToplamAlan}}</span>
</td>
<td class="resultRow">
    <span>{{yapimTarihi}}</span>
</td>
<td class="resultRow">

    <a href="?#/editCustomer/{{id}}"> <span class="glyphicon glyphicon-pencil"></span></a>
    &nbsp;
    <button id="homeDeleted" onclick='del_tr(this);return false;' value="{{id}}" class="btn btn-success btn-sm deleteHome1">
        <span class="glyphicon glyphicon-trash"></span>
    </button>
    &nbsp;
    <p hidden class="deleteHome22"></p>

        <a href="?#/addCustomer/{{id}}"><span class="glyphicon glyphicon-plus-sign"></span></a>



</td>